<% if obj.errors.any? %>
  <div class="alert alert-error">
    <h5>The Following Errors Occured:</h5>
    <ul>
      <% obj.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
